@import "../../../../styles/variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 50px;
  background-color: $gray-corner-color;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  align-items: center;

  span, a {
    padding: .55rem 0;
  }

  .columnTitle {
    font-size: .875rem;
    color: $gray-700;
    font-weight: bold;
    text-transform: uppercase;
  }

  .linkItem {
    font-size: .86rem;
    color: $gray-600;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
