@import 'fonts/brandon_grotesque/stylesheet.css';

$fallback-fonts: 'Helvetica Neue', Arial, Helvetica, sans-serif;
$brandon-grotesque: 'Brandon Grotesque',arial;

$lato: 'Lato', $fallback-fonts;
$primary-font: $lato; //$brandon-grotesque;
$secondary-font: $lato;

$font-weights: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  black: 900,
  heavy: 900
);


@mixin primary-font($weight: normal) {
  font-family: $primary-font;
  font-weight: map-get($font-weights, $weight);
}

@mixin secondary-font($weight: normal) {
  font-family: $secondary-font;
  font-weight: map-get($font-weights, $weight);
}

@mixin lato($weight: normal) {
  font-family: $lato;
  font-weight: map-get($font-weights, $weight);
}

@mixin bold {
  font-weight: bold;
}

@mixin italic {
  font-style: italic;
}

@mixin bold-italic {
  @include bold;
  @include italic;
}
