@import "variables";


@mixin corner-border($top: true, $bottom: true) {
  @if $top {
    border-top: 1px solid $gray-corner-color;
  }
  @if $bottom {
    border-bottom: 1px solid $gray-corner-color;
  }
}
