@import "fonts";
@import "variables";

html, body {
  margin: 0;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
  font-family: $primary-font;
}


:global {
  .global-margin {
    margin-top: 50px;
  }
  .btn {
    &:focus {
      outline: none;
      -webkit-box-shadow: 0 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
    }
  }
  .header-row {
    a {
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: .2em;
      text-align: center;
      color: #ffffff;
      text-decoration: none;

      -webkit-transition: opacity 100ms ease-in-out;
      -moz-transition: opacity 100ms ease-in-out;
      -ms-transition: opacity 100ms ease-in-out;
      -o-transition: opacity 100ms ease-in-out;
      transition: opacity 100ms ease-in-out;

      &:hover {
        opacity: 0.7;
        -webkit-transition: opacity 100ms ease-out;
        -moz-transition: opacity 100ms ease-out;
        -o-transition: opacity 100ms ease-out;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
