$white: #ffffff;
$dark-hover: #383838;
$font-md: 15px;
$font-lg: 55px;
$black: #000000;
$primary-color: #0a6c8f;
$gray-corner-color: #ebebeb;
$dark-gray: #a2a2a8;

$header-height: 100px;
$header-collapsed-height: 70px;
// 288db1
$font-sizes: (
  1: 0.8rem,
  2: 1rem,
  3: 1.25rem,
  4: 2rem,
  5: 3rem
);