@import '../../styles/variables';

.previewNode {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.previewParentNode {
  height: 100%;
}

.splashLoader {
  position: absolute;
  top: $header-collapsed-height - 1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2
}