@import '../../styles/variables';

.row {
  margin-bottom: 20px;
}

.previewLink {
  color: $black;
  text-decoration: none;
  margin-left: 10px;

  &:hover {
    color: $black;
    text-decoration: none;
  }
  &:active {
    outline: none;
  }
}

.cardImg {
  height: 0;
  width: 100%;
  height: 100%;
}
.edit {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: lighten($color: $black, $amount: 40%);
  }
}