@import '../../../../styles/variables';
@import '../../../../styles/functions';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.root {
  flex-direction: column;
  @include corner-border(false, true);
}

.container {
  display: flex;
  flex-direction: row;

  span {
    font-size: 20px;
  }

  h5 {
    font-size: $font-lg;
    text-transform: uppercase;
    text-align: center;
  }
}

.contentText {
  flex: 1;
  margin-top: 320px;
  color: $white;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray-100;
  padding: 30px 0;
  @include corner-border(true, false);

  h3 {
    text-align: center;
  }
  span {
    margin-top: 20px;
    color: $dark-gray;
  }
}

.section3 {
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .getStartedBtn {
    color: $white;
    background-color: $primary-color;
  }
  .link {
    margin-left: 10px;
    text-decoration: underline;
  }
}



