@import '../../styles/variables';

$transition-time: 400ms;

.title {
  flex: 1;
  color: $white !important;
}

.appBar {
  background-color: transparent !important;
  position: absolute !important;
}

.root {
  flex-grow: 1;

  a {
    color: $white;
    text-decoration: none;
  }
}

@keyframes height-animation-in {
  0% {
    max-height: $header-height;
  }
  50% {
    max-height: $header-collapsed-height + 10;
  }
  100% {
    max-height: $header-collapsed-height;
  }
}

@keyframes height-animation-out {
  0% {
    max-height: $header-collapsed-height;
  }
  100% {
    max-height: $header-height;
  }
}

.container {
  display: flex;
  z-index: 22;
  position: fixed;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  margin-bottom: $header-height;

  animation: height-animation-out;
  animation-duration: 400ms;
}

.logo {
  width: 200px;
}

.headerHeight {
  height: $header-height;
}

.collapsedHeader {
  animation: height-animation-in;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.columns {
  display: flex;
}

.containerBackground {
  background-color: $primary-color;
  opacity: 1;
  height: $header-collapsed-height;
  border-bottom: 1px solid $dark-gray;
  position: static;
}

.backgroundIncluded {
  background-color: $white;
  -webkit-transition: background-color $transition-time;
  -moz-transition: background-color $transition-time;
  -ms-transition: background-color $transition-time;
  -o-transition: background-color $transition-time;
  transition: background-color $transition-time;

  div {
    div {
      button:hover {
        color: $white !important;
      }
      button, a {
        color: $black !important;
        -webkit-transition: color $transition-time;
        -moz-transition: color $transition-time;
        -ms-transition: color $transition-time;
        -o-transition: color $transition-time;
        transition: color $transition-time;
      }
    }
  }
}
