@import '../../../../styles/variables';

.whiteText {
  color: $white !important;
}

.title {
  flex: 1;
  color: $white !important;
}

.root {
  flex-grow: 1;
  margin-bottom: 50px;

  a {
    color: $white;
    text-decoration: none;
  }
}

.link {
  background-color: transparent;
  color: $white;
  border: 0;
}