@import '../../styles/variables';

.row {
  margin-bottom: 20px;
}

.cardImg {
  height: 0;
  width: 100%;
  height: 100%;
}
.edit {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
    color: lighten($color: $black, $amount: 40%);
  }
}