@import '../../styles/variables';

@mixin darken-background($includeBorder: false) {
  background-color: darken($color: $primary-color, $amount: 10%) !important;
  @if $includeBorder == true {
    border-color: darken($color: $primary-color, $amount: 20%) !important;
  }
}

@mixin transparent-background() {
  background-color: transparent;
}
.btn-primary {
  color: $white;
  background-color: $primary-color;

  &:hover {
    @include darken-background();
  }

  &:active {
    @include darken-background(true);
  }
}

.btn-transparent {
  @include transparent-background();
  color: $black;
  border: 0;

  &:hover {
    @include transparent-background();
    color: lighten($color: $black, $amount: 40%);
  }
  &:active {
    @include transparent-background();
  }
}