@import '../../styles/variables';

@mixin font-size($size) {
  font-size: map-get($map: $font-sizes, $key: $size); 
}
.text-1 {
  @include font-size(1);
}
.text-2 {
  @include font-size(2);
}
.text-3 {
  @include font-size(3);
}
.text-4 {
  @include font-size(4);
}
.text-5 {
  @include font-size(5);
}