@import '../../../../styles/variables';

$content-width: 60%;

@mixin no-border-before-after() {
	&::after {
		border-bottom: 0;
	}
	&::before {
		border-bottom: 0;
	}
}

.mainRow {
  padding-top: 10px;
  align-items: flex-start;
  height: 100px;
}

.alert {
  position: absolute;
  top: $header-collapsed-height;
  right: 0;
  background-color: lighten($color: $primary-color, $amount: 40%);
}

.stprCmp {
  div {
    div {
      div {
        div {
          a, span {
            cursor: pointer;
            line-height: 0 !important;
          }
        }
      }
    }
  }
}

.root {
	.stepperContainer {
		display: flex;
		justify-content: center;
	
		.innerContainer {
			width: $content-width;
		}
	}
	.form {
		padding: 20px 0;

		.paper {
			display: flex;
			width: $content-width;
			padding: 20px;
			justify-content: center;
			flex-direction: column;
		}
	}
}

.textField {
	text-align: center;
}

.pickSubdomain {
	text-align: center;
}

.subdomainInput {
	font-size: map-get($map: $font-sizes, $key: 4) !important;
  text-align: right;
  border: 0;
  padding-top: 0;
  padding-right: 0;

  &:focus {
    outline: none;
    border: 0 !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }

	div {
		@include no-border-before-after();
	}
}
.errorMsg {
  color: red;
}

.flex {
	display: flex;
}

.spinner {
	float: left;
}
.padding {
	padding: 20px;
}

.loadingSpinner {
	margin-right: 10px;
}

.snackbarMessage {
	display: flex;
	align-items: center;
}